<form method="post" action="{{ path('app_league_api_delete', {'id': league_api.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ league_api.id) }}">
    <button class="btn">Delete</button>
</form>
