{% extends 'base.html.twig' %}

{% block title %}Edit LeagueApi{% endblock %}

{% block body %}
    <h1>Edit LeagueApi</h1>

    {{ include('league_api/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_league_api_index') }}">back to list</a>

    {{ include('league_api/_delete_form.html.twig') }}
{% endblock %}
