{% extends 'base.html.twig' %}

{% block title %}Index des championnats{% endblock %}

{% block body %}
    <h1>Liste des championnats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Identifiant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for league_api in league_apis %}
            <tr>
                <td>{{ league_api.id }}</td>
                <td>{{ league_api.name }}</td>
                <td>{{ league_api.identifier }}</td>
                <td>
                    <a href="{{ path('app_league_api_show', {'id': league_api.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
